target
project/target
project/project
config/ir_patch.config
akka-js-actor/shared/src/main/scala/akka
akka-js-actor/js/src/main/boilerplate/akka
akka-js-actor-stream/shared/src/main/scala/akka
akka-js-actor-stream/js/src/main/boilerplate/akka
akka-js-actor-tests/shared/src/test/scala/akka
akka-js-stream-tests/shared/src/test/scala/akka
akka-js-stream-testkit/shared/src/test/scala/akka
akka-js-stream-testkit/shared/src/main/scala/akka
akka-js-testkit/shared/src/test/scala/akka
akka-js-testkit/shared/src/main/scala/akka
akka-js-actor-typed/shared/src/main/scala/akka
akka-js-typed-testkit/shared/src/test/scala/akka
akka-js-typed-testkit/shared/src/main/scala/akka
akka-js-typed-tests/shared/src/test/scala/akka
akka-js-typed-tests/shared/src/test/scala/docs
akka-js-stream-typed/shared/src/main/scala/akka
akka-js-stream-typed/shared/src/test/scala/akka
akka-js-stream-typed/shared/src/test/scala/docs


.metals
.bloop
