target
project/target
project/project
config/ir_patch.config
akka-js-actor/shared/src/main/scala/akka
akka-js-actor/js/src/main/boilerplate/akka
akka-js-actor-stream/shared/src/main/scala/akka
akka-js-actor-stream/js/src/main/boilerplate/akka
akka-js-actor-tests/shared/src/test/scala/akka
akka-js-stream-tests/shared/src/test/scala/akka
akka-js-stream-testkit/shared/src/test/scala/akka
akka-js-stream-testkit/shared/src/main/scala/akka
akka-js-actor-remote/shared/src/main/scala/akka
