/scalajs-actors-example-chat-client-extdeps.js
/scalajs-actors-example-chat-client-extdeps.js.map
/scalajs-actors-example-chat-client-intdeps.js
/scalajs-actors-example-chat-client-intdeps.js.map
/scalajs-actors-example-chat-client.js
/scalajs-actors-example-chat-client.js.map
/scalajs-actors-example-chat-client-fastopt.js
/scalajs-actors-example-chat-client-fastopt.js.map
/scalajs-actors-example-chat-client-opt.js
/scalajs-actors-example-chat-client-opt.js.map
