akka.actor.Actor scala.scalajs.reflect.annotation.EnableReflectiveInstantiation
akka.actor.Props$EmptyActor scala.scalajs.reflect.annotation.EnableReflectiveInstantiation
akka.event.DeadLetterListener scala.scalajs.reflect.annotation.EnableReflectiveInstantiation
akka.event.EventStreamUnsubscriber scala.scalajs.reflect.annotation.EnableReflectiveInstantiation
akka.event.EventStream scala.scalajs.reflect.annotation.EnableReflectiveInstantiation
akka.event.EventStreamUnsubscriber scala.scalajs.reflect.annotation.EnableReflectiveInstantiation
akka.testkit.TestEventListener scala.scalajs.reflect.annotation.EnableReflectiveInstantiation
akka.testkit.EchoActor scala.scalajs.reflect.annotation.EnableReflectiveInstantiation
akka.testkit.BlackholeActor scala.scalajs.reflect.annotation.EnableReflectiveInstantiation
akka.testkit.ForwardActor scala.scalajs.reflect.annotation.EnableReflectiveInstantiation
akka.typed.DefaultLoggingFilter scala.scalajs.reflect.annotation.EnableReflectiveInstantiation
akka.typed.DefaultLogger scala.scalajs.reflect.annotation.EnableReflectiveInstantiation
