akka.actor.Actor scala.scalajs.js.annotation.JSExportDescendentClasses true
akka.event.EventStream scala.scalajs.js.annotation.JSExport
akka.event.EventStreamUnsubscriber scala.scalajs.js.annotation.JSExport
akka.remote.RemoteActorRefProvider scala.scalajs.js.annotation.JSExport
akka.remote.EndpointManager scala.scalajs.js.annotation.JSExport
akka.testkit.TestEventListener scala.scalajs.js.annotation.JSExport
