@(devMode: Boolean)

@main("Example chat application with Akka/JS") {

<div class="jumbotron landing">
  <h1>Actochat</h1>
  <p>An actor-base chat application with support for multiple rooms and
  private chats (1 to 1).</p>
  <form role="form">
    <div class="form-group">
      <label for="nickname-edit">Nickname</label>
      <input type="text" class="form-control" id="nickname-edit" placeholder="Enter nickname">
    </div>
    <div class="form-group">
      <label for="email-edit">Email for gravatar</label>
      <input type="email" class="form-control" id="email-edit" placeholder="Gravatar e-mail">
    </div>
    <button id="connect-button" type="button" class="btn btn-default">Connect</button>
  </form>
</div>

<div class="row not-landing">
  <div class="col-lg-12" id="notifications">
  </div>
</div>

<div class="row not-landing">
    <div class="col-lg-12">
        <ul id="room-tabs" class="nav nav-tabs">
        </ul>
    </div>
</div>

<div class="row not-landing">
    <div class="conversation-wrap col-lg-3">
    </div>

    <div class="message-wrap col-lg-8">
        <div class="msg-wrap">
        </div>
        <div class="send-wrap">
            <textarea id="msg-to-send" class="form-control send-message" rows="3" placeholder="Write a reply..."></textarea>
        </div>
        <div class="btn-panel">
            <button id="send-button" class=" col-lg-4 text-right btn   send-message-btn pull-right" role="button"><i class="fa fa-plus"></i> Send Message</button>
        </div>
    </div>
</div>

@if(devMode) {
<script src="@routes.Assets.at("javascripts/scalajs-actors-example-chat-client-fastopt.js")" type="text/javascript"></script>
} else {
<script src="@routes.Assets.at("javascripts/scalajs-actors-example-chat-client-opt.js")" type="text/javascript"></script>
}
<script type="text/javascript">
Client().startup();
</script>

}
